{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<head>
		<title>Add Student</title>
		<style>
		body {background-color: #FFDEAD;}
	      h1 {
	         color: #8B0000;
	         
	      }
	      h2 {
	         color: #8B0000;
	         
	      }
	      p {
	         color: #8B0000;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }
	      hr.rounded {
		  	border-top: 8px solid white;
		  	border-radius: 5px;
		  }
	      </style>
	</head>
	<center>
	<h1> Add Student To Database 添加学生 </h1>
	<br/>
	注意：
	<br/>
	甘肃梁河班请在“班级”处输入“1”
	<br/>
	热柯依达班请在“班级”处输入“2”
	<br/>
	<br/>
	{% if submitted %}
		Student Was Sumbitted 
		Successfully!
		成功添加

	{% else %}
		<form action = "" method = POST>
			{% csrf_token %}

			{{ form.as_p }}

			<input type = "submit" value = "Submit" class = "btn btn-success">
	</form>

	{% endif %}

	</center>
{% else %}
	<h1>Logged In Needed </h1>

	<a class="nav-link" href="{%url 'login' %}">Login Here</a>
	{% endif %}
{% endblock %}
