{% extends 'events/base.html' %}

{% block content %}
	
	<h1> 课程 Events </h1>


<table class="table table-striped table-hover table-bordered ">
	{% for event in event_list %}
        	<tr>
    			<td>
    					<strong>{{ event.name }}</strong>
    			</td>
    			<td>
    				完成奖励Badge Reward: 2 
    			</td>
    			<td>
    					<a href=" {% url 'show-event' event.id %}">
    					<input type = "submit" value = "进入Enter" class = "btn btn-success"></a>
    				
    			</td>
    			
    		</tr>

{% endfor %}
</table>
	
	<br/>


{% endblock %}