{% extends 'events/base.html' %}

{% block content %}
	
	<center>
	<h1> Event One: Video and Discuss </h1><br/>
	<h2>课程1.1：视频和讨论</h2>
	奖励：2 奖章
	Reward： 2 Badges
	<br/>
	<br/>
	<br/>
	<br/>
	<li><strong>Step One: Watch Videos - 第一步: 观看视频</strong></li>
		<iframe src="//player.bilibili.com/player.html?aid=802784734&bvid=BV14y4y1s7me&cid=329382370&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    	</div>
		</div>
	</center>
	<br/>
	<br/>
	<br/>
	<br/>
	<center>
	<li><strong>Step Two: Discuss - 第二步: 讨论</strong></li>
	<br/>
	<img src="https://www.smith.edu/ssw/bulletin/uploads/p_1110.jpg">
	<br/>
	“有哪些职业是我第一次听说的？”<br/>
	“我喜欢哪个职业？为什么？”<br/>
	</center>
	<br/>
	<br/>
	<br/>
	<br/>
	<center>
		<a href=" {% url 'event-complete' %}">
			<input type = "submit" value = "确认Complete" class = "btn btn-success">
    	</a>
	</center>
		
	<br/>
	<br/>
	<br/>
	


{% endblock %}