{% extends 'events/base.html' %}

{% block content %}
<head>
		<style>
		body {background-color: #FFDEAD;}
	      h1 {
	         color: #8B0000;
	         
	      }
	      h2 {
	         color: #8B0000;
	         
	      }
	      p {
	         color: #8B0000;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }
	      hr.rounded {
		  	border-top: 8px solid white;
		  	border-radius: 5px;
		  }
	      </style>
</head>
	{% if user.is_authenticated %}
	<center>
		<h1> Complete Events and Add Badges to {{user}}'s students </h1>
		<h2> 完成并且给{{user}}老师的学生添加奖牌 </h2>
		<br/>
		{% if submitted %}
			Badges Has Been Added Successfully!
			奖牌成功添加

		{% else %}
		<form action="" method = POST>
			{% csrf_token %}
			<label for="ClassName">班级Class Name: </label>
			<select name="ClassName" id="ClassName">
				{% if user.get_username == 'Leo' %}
				<option value="A">A班</option>
				{% else %}
				<option value="B">B班</option>
		    	{% endif %}
		  	</select>
		  <br><br>
		  <input type = "submit" value = "确认Update" class = "btn btn-success">
		</form>
		{% endif %}
	</center>
	{% else %}
	<h1>Logged In Needed </h1>
	<a class="nav-link" href="{%url 'login' %}">Login</a>
	{% endif %}
{% endblock %}
