{% extends 'events/base.html' %}

{% block content %}
<head>
		<style>
		body {background-color: #FFDEAD;}
	      h1 {
	         color: #8B0000;
	         
	      }
	      h2 {
	         color: #8B0000;
	         
	      }
	      p {
	         color: #8B0000;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }
	      hr.rounded {
		  	border-top: 8px solid white;
		  	border-radius: 5px;
		  }
	      </style>
</head>
	<center>
	<h1> Welcome to the Career Advice Course Website for CS310 </h1><br/>

	<h2> 欢迎来到职业认知教育网页 </h2> <br/>


	{{ month }}<br/>
	{{ year }}

	</center>


{% endblock %}