{% extends 'events/base.html' %}

{% block content %}
<head>
		<style>
		body {background-color: #FFDEAD;}
	      h1 {
	         color: #8B0000;
	         
	      }
	      h2 {
	         color: #8B0000;
	         
	      }
	      p {
	         color: #8B0000;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }
	      hr.rounded {
		  	border-top: 8px solid white;
		  	border-radius: 5px;
		  }
	      </style>
</head>	
	<h1> 课程一 事件 Lesson 1 Events </h1>
<br/>
<table class="table table-striped table-hover table-bordered ">
{% for event in event_list %}
{% if event.lesson == 1 %}
        	<tr>
    			<td>
    				<strong>{{ event.name }}</strong>
    			</td>
    			<td>
    				奖励-Reward: {{ event.reward }} 
    			</td>
    			<td>
    					<a href=" {% url 'show-event' event.id %}">
    					<input type = "submit" value = "进入Enter" class = "btn btn-success" style="float: right;"></a>
    			</td>
    		</tr>
{% endif %}
{% endfor %}
</table>
<br/>
{% endblock %}