{% extends 'events/base.html' %}

{% block content %}
<head>
		<style>
		body {background-color: #FFDEAD;}
	      h1 {
	         color: #8B0000;
	         
	      }
	      h2 {
	         color: #8B0000;
	         
	      }
	      p {
	         color: #8B0000;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }
	      hr.rounded {
		  	border-top: 8px solid white;
		  	border-radius: 5px;
		  }
	      </style>
</head>	
	<center>

	{% if searched %}
	<h1> You Searched For "{{searched}}" </h1><br/>
	<p>This page only shows search results registered by teacher: <strong>{{ user }}</strong></p>
		<table class="table table-striped table-hover table-bordered ">
		{% for student in students %}
		{% if user.get_username == student.teacher %}
        	<tr>
    			<td>
    				<strong>{{ student.name }}</strong>
    			</td>
    			<td>
    				班级Class：{{ student.classroom }}
    			</td>
    			<td>
					奖牌Badge：{{ student.badge }}
    			</td>
    			<td>
					老师-Teacher：{{ student.teacher }}
    			</td>
    			<td>
    				<a href=" {% url 'show-student' student.id %}"><input type = "submit" value = "进入Enter" class = "btn btn-success"></a>
    			</td>
    		</tr>
    	{% endif %}
		{% endfor %}
		</table>
	{% else %}

	<h1> You forgot to search for a student or You are not authrised to the result</h1>

	{% endif %}
	</center>
	


{% endblock %}

