{% extends 'events/base.html' %}

{% block content %}
	
<head>
    <style>
    body {background-color: #FFDEAD;}
        h1 {
           color: #8B0000;
           
        }
        h2 {
           color: #8B0000;
           
        }
        p {
           color: #8B0000;
        }
        .floatRight {
          float:right;
          clear:right;
          margin-left:20px
        }
        hr.rounded {
        border-top: 8px solid white;
        border-radius: 5px;
      }
        </style>
</head>
<div class="card">
  <div class="card-header">
    <strong>{{ Student }}</strong>
  </div>
  <div class="card-body">
    
   <p class="card-text">
    <ul>
			<li>奖牌-Badge：{{ Student.badge }}</li>
			<li>班级-Classroom：{{ Student.classroom }}</li>
			<li>老师-Teacher：{{ Student.teacher }}</li>
		</ul>
   </p>
   <a href=" {% url 'update-student' Student.id %}"><input type = "submit" value = "更新Update" class = "btn btn-success"></a>
  </div>
</div>

{% endblock %}