
	   	  body {background-color: powderblue;}
	      h1 {
	         color: #FF8C00;
	         margin-left: 20px;
	      }
	      h2 {
	         color: #FF8C00;
	         margin-left: 20px;
	      }
	      p {
	         color: #FF8C00;
	      }
	      .floatRight {
	      	float:right;
	      	clear:right;
	      	margin-left:20px
	      }